/* (Pagina Cursos) Inicio de Presentacion */
.presentacion_cursos {
	width: 40%;
	height: 150px;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}

.title_cursos {
	font-size: 2.6rem;
	margin-top: 60px;
	border-bottom: 5px solid #e9183b;
}


@media screen and (max-width: 900px) {
	.presentacion_cursos {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}
}

@media screen and (max-width: 700px) {
	.presentacion_cursos {
		width: 65%;
		margin-left: 17.5%;
		margin-right: 17.5%;
	}
}
/* (Pagina Cursos) Fin de Presentacion */

.buttonCursos {
    background-color: #c2fbd7;
    border-radius: 100px;
    color: green;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    font-size: 22px;
    margin: 10px 10px 20px;
}

.buttonCursos:hover {
    transform: scale(1.1);
}

/* (Pagina Cursos) Inicio de Cursos */
.img_certificados {
	width: 25%;
	height: 220px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 2px solid #0489B1;
}

.img_certificados:hover { 
  	transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
	.img_certificados {
		width: 30%;
		height: 220px;
	}
}

@media screen and (max-width: 1100px) {
	.img_certificados {
		width: 35%;
		height: 220px;
	}
}

@media screen and (max-width: 940px) {
	.img_certificados {
		width: 40%;
		height: 230px;
	}
}

@media screen and (max-width: 800px) {
	.img_certificados {
		width: 40%;
		height: 210px;
	}
}

@media screen and (max-width: 700px) {
	.img_certificados {
		width: 45%;
		height: 200px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 600px) {
	.img_certificados {
		width: 45%;
		height: 170px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 530px) {
	.img_certificados {
		width: 80%;
		height: 230px;
		margin-left: 35px;
		margin-right: 25px;
	}
}
/* (Pagina Cursos) Fin de Cursos */




















































































@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
	font-family: sans-serif;
	background-color: #2E2E2E;
	color: #FFFFFF;
}


/* Interlineado index */
@media screen and (min-width: 600px) {
	.interlineado {
		line-height: 26px;
		padding-bottom: 30px;
	}
}

/* Interlineado mis proyectos */
@media screen and (min-width: 600px) {
	.interlineado_proyectos {
		line-height: 30px;
	}
}


/* Inicio del Menu  */
.nav {
	margin-top: -7.7px;
	margin-left: -6.4px;
	margin-right: -8px;
}

.menu {
	background-color: #e9183b;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #fff;
	box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.menu_items {
	display: flex;
	list-style: none;
	margin-right: 30px;
}

.menu_items li {
	border-radius: 3px;
	margin: 0 5px;
}

.menu_items li a {
	padding: 7px 13px;
	text-decoration: none;
	font-size: 14px;
	display: block;
	text-transform: uppercase;
	color:  #fff;
}	

.menu_items li:hover{
	background-color: rgba(0, 0, 0, .3);
	transition: .5s;
}

.active {
	background-color: rgba(0, 0, 0, .3);
}

.btn_menu {
	margin-right: 30px;
	font-size: 25px;
	color:  #fff;
	cursor: pointer;
	display: none;
}

.toggle {
	display: inline-block;
	width: 50px;
	height: 100%;
	cursor: pointer;
	color: white;
	line-height: 50px;
	font-size: 2rem;
	right: 0px;
	display: none;
} 

@media screen and (max-width: 900px) {
	.menu_two li {
		list-style: none;
		display: inline-block;
		text-align: center;
		line-height: 50px;
	}

	.menu_two li:hover {
		background-color: rgba(0, 0, 0, .3);
		transition: .5s;
	} 


	.toggle {
		display: inline-block;
		left: 0;
		margin-left: 15px;
		font-size: 23px;
		cursor: pointer;
		margin-top: 5px;
	}

	.menu_two {
		display: inline-block;
		background-color: #2E2E2E; 
		width: 200px;
		height: auto;
		position: absolute;
		top: 50px;
		transform: translateX(-300px);
		transition: all 1s;
	}

	.menu_two li {
		display: block;
	}

	.show {
		transform: translateX(0px);
	}
}
/* Fin del Menu*/



/* Inicio de cambio de idioma */
.cambioIdioma {
	margin-left: 30px;
	margin-right: 30px;
}

.es {
	color: #151515 ;
	margin-left: 10px;
}

.in {
	color: #151515;
	margin-right: 10px;
}

.check {
	position: relative;
	width: 50px;
}

.check:before {
	content: ' ';
	position: absolute;
	width: 50px;
	height: 20px;
	background: #0080FF;
	border-radius: 25px;
}

.check:after {
	content: ' ';
	position: absolute;
	width: 25px;
	height: 20px;
	background: #fff;
	border-radius: 25px;
	transition: 0.25s;
	border: 2px solid #0080FF;
	box-sizing: border-box;
}

.check:checked:after {
	left: 25px;
	background-color: #fff;
}

.check:checked:before {
	background-color: #0080FF;
}
/* Fin de cambio de idioma */


/* Inicio de Flechas de trancicion */
.scroll-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #000;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
	
}

.flecha {
	width: 30px;
	height: 30px;
}
  
@media screen and (max-width: 1000px) {
	.flecha {
		opacity: 0; 
	}
}

.scroll-arrow:hover {
    transform: translate(-50%, -5px);
}
/* Fin  de Flechas de trancicion */


/* (Pagina Index) Inicio de la Presentacion */
@media screen and (min-width: 1000px) {
	.paginacompleta {
		height: 100vh;
	}
}

.presentacion {
	height: 100%;
	width: 99%;
	margin: 5;
	text-align: center;
	margin: 10px;
	padding-bottom: 1px;
	padding-right: 2px;
	padding-top: 40px;
}

.conteiner {
	width: 90%;
}

.tamaño-title {
	font-size: 2rem;
}

.tamaño-text {
	font-size: 1.2rem;
}

@media screen and (min-width: 1000px) {
	.conteiner {
		width: 110%;
		margin-left: 95px;
	}

	.tamaño-title {
		font-size: 2.4rem;
	}

	.tamaño-text {
		font-size: 1.5rem;
	}	

	.grid-conteiner {
		margin-top: 10vh;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.presentacion {
		padding-top: 11vh;
	}
}
/* (Pagina Index) Fin de la Presentacion */



/* (Pagina Index) Inicio de Porque contratarme */


.color_separacion {
	border-top: .1px solid #2E2E2E;
}

.div-hero {
    width: 100%;
    height: 63%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
    margin-top: 24%;
    background-color: #2E2E2E;
    opacity: .9;
}

.title {
	font-size: 2.2rem;
	margin-bottom: 5px;
	margin-top: 90px;

}

.parrafos {
	margin-top: 70px;
	font-size: 1.0rem;
	text-align: justify;
}

.separar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-top: 5px solid #04B45F;	
}

.sub_title {
	font-size: 1.5rem;
}

.margen_right {
	margin-right: 45px;
}

.margen_left {
	margin-left: 20px;
}

@media screen and (max-width: 970px) {
	.div-hero {
	    width: 100%;
	    height: 73%;
	    opacity: 1;
	}
}

@media screen and (max-width: 820px) {
	.title {
		font-size: 2rem;
		margin-top: 50px;
	}

	.parrafos {
		margin-top: 0px;
		font-size: 1rem;
		margin-bottom: 30px;
		margin-left: 10px;
		margin-right: 10px;
		text-align: justify;
	}

	.sub_title {
		font-size: 1.5rem;
		margin-bottom: -35px;
	}

	.margen_right {
		margin-right: 10px;
	}

	.margen_left {
		margin-left: 10px;
	}

	.separar {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		border-top: 5px solid #FF0000;	
	}

	.hero {
	    width: 100%;
	    height: 93%;
	}
}

@media screen and (max-width: 710px) {
	.div-hero {
	    height: 82%;
	}
}

@media screen and (max-width: 500px) {
	.title {
		font-size: 1.7rem;
		margin-top: 50px;
	}

	.sub_title {
		font-size: 1.5rem;
		margin-bottom: -35px;
	}

	.margen_right {
		margin-right: 10px;
	}

	.margen_left {
		margin-left: 10px;
	}

	.separar {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		border-top: 5px solid #FF0000;	
	}

	.div-hero {
	    width: 100%;
	    height: 111%;
	    flex-direction: column;
	    text-align: left;
	    font-size: 1rem;
	    background-color: #2E2E2E;
	    opacity: 1;
	}
}
/* (Pagina Index) Fin de Porque contratarme */	



/* (Pagina Index) Inicio de Mi pasion */

.div-hero_two {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
    background-color: #2E2E2E;
    opacity: .9;
    margin-left: 65%;
	border-left: 5px solid #0101DF;
}

.parrafo {
	margin-top: 20px;
	font-size: 1.0rem;
	text-align: justify;
	margin-left: 80px;
	margin-right: 70px;
}

.title_two {
	margin-top: 150px;
	font-size: 2.2rem;
	text-align: left;
	margin-left: 80px;
	margin-right: 70px;
}

.sub_title_two {
	font-size: 1.5rem;
	margin-left: 80px;
	margin-right: 70px;
	margin-top: -10px;
}

@media screen and (max-width: 1300px) {
	.title_two {
		margin-top: 100px;
		font-size: 2rem;
		text-align: left;
		margin-left: 80px;
		margin-right: 70px;
	}

	.div-hero_two {
	    width: 40%;
	    margin-left: 60%;
	}
}

@media screen and (max-width: 1000px) {
	.title_two {
		margin-top: 90px;
		font-size: 2rem;
		text-align: left;
		margin-left: 80px;
		margin-right: 70px;
	}

	.div-hero_two {
	    width: 100%;
	    height: 60%;
	    display: flex;
	    margin-left: 0%;
	    border-top: 5px solid #0101DF;
	    border-left: 0px;
		margin-top: 30%;
		margin-bottom: 10px;
		opacity: 1;
	}
}

@media screen and (max-width: 850px) {
	.div-hero_two {
	    height: 70%;
	}
}

@media screen and (max-width: 640px) { 
	.parrafo {
		margin-top: 20px;
		font-size: 1.0rem;
		margin-left: 30px;
		margin-right: 30px;
	}

	.title_two {
		margin-top: 50px;
		font-size: 2rem;
		margin-left: 30px;
		margin-right: 30px;
	}

	.sub_title_two {
		font-size: 1.5rem;
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 5px;
	}

	.div-hero_two {
	    width: 100%;
	    height: 100%;
	}
}
/* (Pagina Index) Fin de Mi pasion */



/* (Pagina Index) Inicio de Programacion */ 

.hero {
    background-repeat: no-repeat;
    background-size: cover;
	height: auto;
    position: relative;	
}

.div-hero_three {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1rem;
    background-color: #2E2E2E;
    opacity: .9;
	border-right: 5px solid #04B4AE;
}

.title_three {
	font-size: 2.5rem;
	margin-bottom: 5px;
	margin-top: 100px;
	margin-left: 30px;
}

.parrafos_three {
	margin-top: 70px;
	font-size: 1rem;
	text-align: justify;
	margin-right: 40px;
	margin-left: 30px;
}


@media screen and (max-width: 1300px) {
	.title_three {
		margin-top: 100px;
		font-size: 2.2rem;
		text-align: left;
		margin-left: 80px;
		margin-right: 70px;
	}

	.div-hero_three {
	    width: 45%;
	    
	}
}

@media screen and (max-width: 1000px) {
	.title_three {
		margin-top: 50px;
		font-size: 2rem;
		text-align: center;
	}

	.div-hero_three {
	    width: 100%;
	    height: 60%;
	    display: flex;
	    margin-left: 0%;
	    border-top: 5px solid #04B4AE;
	    border-right: 0px;
		margin-top: 30%;
		opacity: 1;
	}
}

@media screen and (max-width: 860px) {
	.div-hero_three {
	    height: 65%;
	}

	.title_three {
		margin-top: 60px;
		margin-bottom: 40px;
	}

	.parrafos_three {
		margin-top: 40px;
		font-size: 1rem;
	}
}

@media screen and (max-width: 740px) {
	.title_three {
		margin-top: 90px;
		margin-bottom: 40px;
		margin-left: 30px;
		margin-right: 0px;
		font-size: 1.5;
		text-align: justify;
	}

	.div-hero_three {
	    height: 87%;
	}
}
/* (Pagina Index) Fin de Programacion */ 



/* (Pagina Mis proyectos) Inicio de Presentacion */
.presentacion_proyectos {
	width: 50%;
	height: 230px;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

.title_proyectos {
	font-size: 2.6rem;
	margin-top: 60px;
}

.secundario_title_proyectos {
	font-size: 1.6rem;
	margin-top: -10px;
	border-bottom: 5px solid #e9183b;
	padding-bottom: 25px;
}
/* (Pagina Mis proyectos) Fin de Presentacion */


/* (Pagina Mis proyectos) Inicio de Proyectos */
.img_proyectos {
	width: 170%;
	height: 70%;
	margin-left: 70px;
}

.parrafos_proyectos {
	font-size: 1.1rem;
	margin-left: 40px;
	text-align: justify;
}

.sub_title_proyectos {
	margin-left: 40px;
	font-size: 1.5rem;
}

.sub_title_proyectos_two {
	margin-left: 67px;
	font-size: 1.5rem;
}

.button_proyecto {
	color: #fff;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	line-height: 3em;
	padding: 0 2.25em;
	margin-left: 40px;
	margin-bottom: 100px;
}

.button_proyecto_two {
	color: #fff;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
	display: inline-block;
	line-height: 3em;
	padding: 0 2.25em;
	margin-left: 70px;
}

@media screen and (min-width: 1000px) {
	.grid-conteiner_proyectos {
		display: grid;
		grid-template-columns: repeat(3, 1fr)
	}
	.parrafos_proyectos_two {
		font-size: 1.1rem;
		width: 170%;
		margin-left: 70px;
	}
}

@media screen and (max-width: 1150px) {
	.img_proyectos {
		height: 50%;
	}
}

@media screen and (max-width: 1000px) {
	.parrafos_proyectos {
		font-size: 1.1rem;
		margin-left: 40px;
		text-align: justify;
		width: 110%;
	}

	.img_proyectos {
		margin-left: 32.7%;
		width: 160%;
		height: 40%;
	}

	.parrafos_proyectos_two, .button_proyecto_two, .sub_title_proyectos_two {
		margin-left: 32.7%;
	}

	.sub_title_proyectos, .parrafos_proyectos {
		margin-left: 20px;
	}
}

@media screen and (max-width: 999px) {
	.parrafos_proyectos {
		margin-right: 30px;
		width: 90%;
	}

	.img_proyectos {
		width: 90%;
		height: 90%;
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.sub_title_proyectos_two, .parrafos_proyectos_two, .button_proyecto_two {
		margin-left: 30px;
		margin-right: 30px;
	}

	.button_proyecto_two, .button_proyecto {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 700px) {
	.presentacion_proyectos {
		width: 80%;
		height: 230px;
		margin-left: 10%;
		margin-right: 10%;
	}

	.title_proyectos {
		font-size: 2.4rem;
		margin-top: 60px;
	}

	.secundario_title_proyectos {
		font-size: 1.4rem;
		margin-top: -10px;
		border-bottom: 5px solid #e9183b;
		padding-bottom: 25px;
	}
}
/* (Pagina Mis proyectos) Fin de Proyectos */



/* (Pagina Cursos) Inicio de Presentacion */
.presentacion_cursos {
	width: 40%;
	height: 150px;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}

.title_cursos {
	font-size: 2.6rem;
	margin-top: 60px;
	border-bottom: 5px solid #e9183b;
}


@media screen and (max-width: 900px) {
	.presentacion_cursos {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}
}

@media screen and (max-width: 700px) {
	.presentacion_cursos {
		width: 65%;
		margin-left: 17.5%;
		margin-right: 17.5%;
	}
}
/* (Pagina Cursos) Fin de Presentacion */



/* (Pagina Cursos) Inicio de Cursos */
.img_certificados {
	width: 25%;
	height: 220px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 2px solid #0489B1;
}

.img_certificados:hover { 
  	transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
	.img_certificados {
		width: 30%;
		height: 220px;
	}
}

@media screen and (max-width: 1100px) {
	.img_certificados {
		width: 35%;
		height: 220px;
	}
}

@media screen and (max-width: 940px) {
	.img_certificados {
		width: 40%;
		height: 230px;
	}
}

@media screen and (max-width: 800px) {
	.img_certificados {
		width: 40%;
		height: 210px;
	}
}

@media screen and (max-width: 700px) {
	.img_certificados {
		width: 45%;
		height: 200px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 600px) {
	.img_certificados {
		width: 45%;
		height: 170px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 530px) {
	.img_certificados {
		width: 80%;
		height: 230px;
		margin-left: 35px;
		margin-right: 25px;
	}
}
/* (Pagina Cursos) Fin de Cursos */


/* Inicio de Contacto Index iconos */ 
.buttons_iconos {
  	width: 700px;
  	display: flex;
  	justify-content: space-around;
  	margin-top: 30px;
}

.buttons_iconos a {
  	text-decoration: none;
  	font-size: 20px;
  	width: 60px;
  	height: 60px;
  	line-height: 60px;
  	text-align: center;
  	background: #314652;
  	color: #f1f1f1;
  	border-radius: 50%;
  	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  	transition: all .4s ease-in-out;
}

.buttons_iconos a:hover {
  	transform: scale(1.2);
}

@media screen and (min-width: 1006px) {
	.buttons_iconos {
	  	width: 60%;
	  	margin-top: 100px;
	  	margin-left: 20%;
	  	margin-right: 20%;
	  	margin-bottom: 130px;
	}
}

@media screen and (max-width: 1005px) {
	.buttons_iconos {
	  	width: 100%;
	  	margin-top: 110px;
	  	margin-left: -25px;
	  	margin-right: -25px;
	  	margin-bottom: 70px;
	}
}

@media screen and (max-width: 745px) {
	.buttons_iconos {
		height: 100px;
	  	margin-top: 140px;
	}

	.acortar_icono_medio_one {
		margin-left: 0px;
		margin-right: 5px;
	}

	.acortar_icono_medio_two {
		margin-left: 5px;
		margin-right: 0px;
	}

	.acortar_icono_right {
		margin-right: 0px;
	}

	.acortar_icono_left {
		margin-left: 30px;
	}
}
/* Fin de Contacto Index iconos */


/* Inicio de Contacto Proyectos, Cursos iconos */
.buttons_iconos_two {
  	margin-bottom: 80px;
  	display: flex;
  	justify-content: space-around;
  	margin-top: -40px;
}

.buttons_iconos_two a {
  	text-decoration: none;
  	font-size: 20px;
  	width: 60px;
  	height: 60px;
  	line-height: 60px;
  	text-align: center;
  	background: #314652;
  	color: #f1f1f1;
  	border-radius: 50%;
  	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  	transition: all .4s ease-in-out;
}

.buttons_iconos_two a:hover {
  	transform: scale(1.2);
}

@media screen and (max-width: 550px) {
	.buttons_iconos_two {
		width: 100%;
		margin-top: 10px;
	}
}

@media screen and (min-width: 700px) {
	.buttons_iconos_two {
	  	width: 60%;
	  	margin-left: 20%;
	  	margin-right: 20%;
	}
}
/* Fin de Contacto Proyectos, Cursos iconos */


/* Inicio de skills*/
.skills_img {
	width: 90%;
	height: 90px;
}

.skills_contenedor {
	width: 70%;
	height: auto;
	margin-left: 18%;
	margin-right: 12%;
	margin-top: 40px;
}

.skills_cont {
	display: inline-block;
	width: 100px;
	text-align: center;
	margin: 30px;
}

@media screen and (max-width: 500px) {
	.skills_contenedor {
		width: 90%;
		margin-left: 7%;
		margin-right: 3%;
	}
}


@media screen and (max-width: 400px) {
	.skills_contenedor {
		width: 95%;
		margin-left: 4%;
		margin-right: 1%;
	}
}


@media screen and (max-width: 380px) {
	.skills_contenedor {
		width: 60%;
		margin-left: 23%;
		margin-right: 17%;
	}
}
/* Fin de skills*/


/* Inicio de certificados */
.buttonCursos {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  min-width: 150px;
  text-decoration: none;
  transition: all 250ms;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
/* Fin de certificados */


/* Inicio de regresar a cursos */
.buttonsRegresar {
	width: 100px;
	height: 25px;
	padding: 6px 14px;
	font-size: 20px;
	background-color: #6E6E6E;
  	align-items: center;
  	display: inline-block;
 	padding: 7px 20px;
  	text-align: center;
    text-decoration: none;
	color: #E6E6E6;
	margin-left: 30px;
}
/* Fin de regresar a cursos */
