/* (Pagina Cursos) Inicio de Presentacion */
.presentacion_cursos {
	width: 40%;
	height: 150px;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}

.title_cursos {
	font-size: 2.6rem;
	margin-top: 60px;
	border-bottom: 5px solid #e9183b;
}


@media screen and (max-width: 900px) {
	.presentacion_cursos {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}
}

@media screen and (max-width: 700px) {
	.presentacion_cursos {
		width: 65%;
		margin-left: 17.5%;
		margin-right: 17.5%;
	}
}
/* (Pagina Cursos) Fin de Presentacion */

.buttonCursos {
    background-color: #c2fbd7;
    border-radius: 100px;
    color: green;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    font-size: 22px;
    margin: 10px 10px 20px;
}

.buttonCursos:hover {
    transform: scale(1.1);
}

/* (Pagina Cursos) Inicio de Cursos */
.img_certificados {
	width: 25%;
	height: 220px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 2px solid #0489B1;
}

.img_certificados:hover { 
  	transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
	.img_certificados {
		width: 30%;
		height: 220px;
	}
}

@media screen and (max-width: 1100px) {
	.img_certificados {
		width: 35%;
		height: 220px;
	}
}

@media screen and (max-width: 940px) {
	.img_certificados {
		width: 40%;
		height: 230px;
	}
}

@media screen and (max-width: 800px) {
	.img_certificados {
		width: 40%;
		height: 210px;
	}
}

@media screen and (max-width: 700px) {
	.img_certificados {
		width: 45%;
		height: 200px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 600px) {
	.img_certificados {
		width: 45%;
		height: 170px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 530px) {
	.img_certificados {
		width: 80%;
		height: 230px;
		margin-left: 35px;
		margin-right: 25px;
	}
}
/* (Pagina Cursos) Fin de Cursos */