<section class="hero img_fondo color_separacion" id="porque-contratarme"> <!-- Porque contratarme -->
    <div class="div-hero separar">
        <header class="margen_right margen_left margen_bottom">
            <h2 class="title">{{ title }}</h2>
            <p class="sub_title">{{ sub_title }}</p>
        </header>

        <p class="margen_right parrafos interlineado" style="font-size: 1rem; text-align: justify;">{{ text1 }}</p>

        <p class="margen_right parrafos interlineado"  style="font-size: 1rem; text-align: justify;">{{ text2 }}</p>
    </div>
</section>
