<section class="paginacompleta"> 
    <section class="nav wrapper">  <!-- menu -->
        <nav class="menu">
            <ul class="menu_items menu_two" #menu>
                <li class="active"><a [href] = "index">Inicio</a></li>
                <li><a [href] = "misProyectos">Proyectos</a></li>
                <li><a [href] = "cursos">Cursos</a></li>
                <li><a [href] = "skills">Habilidades</a></li>
                <li><a target="_blank" [href] = "cv">Hoja de Vida</a></li>
            </ul>
    
            <div class="toggle" (click)="cambiar()"><img [src]="imgLinea"></div>
        </nav>
    </section>
    
    <section class="grid-conteiner"> <!-- Presentacion -->
        <!-- informacion personal -->
        <nav class="presentacion conteiner">
            <h1 class="tamaño-title">{{ textPresentation }}</h1>
            <p class="tamaño-text"> {{ textSecundari }}</p>
        </nav>	

        <!--imagen -->
        <div class="graphic">
            <img class="graphic_man" src="../../assets/imagenes/yo.png">
        </div>	
        <a href="#porque-contratarme" class="scroll-arrow"><img src="../../assets/imagenes/flecha.png" alt="Flecha" class="flecha"></a>
    </section>
</section>

<app-porque-contratarme></app-porque-contratarme>
<app-mi-pasion></app-mi-pasion>
<app-programacion></app-programacion>