/* Inicio de Flechas de trancicion */
.scroll-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #000;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
	
}

.flecha {
	width: 30px;
	height: 30px;
}
  
@media screen and (max-width: 1000px) {
	.flecha {
		opacity: 0; 
	}
}

.scroll-arrow:hover {
    transform: translate(-50%, -5px);
}
/* Fin  de Flechas de trancicion */


/* Inicio de la Presentacion */
@media screen and (min-width: 1000px) {
	.paginacompleta {
		height: 100vh;
	}
}

.presentacion {
	height: 100%;
	width: 99%;
	margin: 5;
	text-align: center;
	margin: 10px;
	padding-bottom: 1px;
	padding-right: 2px;
	padding-top: 40px;
}

.conteiner {
	width: 90%;
}

.tamaño-title {
	font-size: 2rem;
}

.tamaño-text {
	font-size: 1.2rem;
}

@media screen and (min-width: 1000px) {
	.conteiner {
		width: 110%;
		margin-left: 95px;
	}

	.tamaño-title {
		font-size: 2.4rem;
	}

	.tamaño-text {
		font-size: 1.5rem;
	}	

	.grid-conteiner {
		margin-top: 10vh;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.presentacion {
		padding-top: 11vh;
	}
}
/*  Fin de la Presentacion */


/*  Inicio de Graphic de la img */
.graphic {
	display: grid;
	padding-top: 3rem;
	grid-template-columns: 35% 1fr;
}

.graphic_man {
	width: 65%;
	grid-column-start: 2;
	height: 95%;
}

@media screen and (max-width: 1120px) {
	.graphic {
		display: grid;
		padding-top: 5rem;
		grid-template-columns: 45% 1fr;
	}
	.graphic_man {
		width: 85%;
		grid-column-start: 2;
		height: 300px;
	}
}

@media screen and (max-width: 999px) {
	.graphic {
		display: grid;
		padding-top: 1rem;
		grid-template-columns: 35% 1fr;
	}
	.graphic_man {
		width: 40%;
		grid-column-start: 2;
		height: 300px;
	}
}

@media screen and (max-width: 800px) {
	.graphic {
		display: grid;
		padding-top: 1rem;
		grid-template-columns: 20% 1fr;
	}
	.graphic_man {
		width: 50%;
		grid-column-start: 2;
		height: 300px;
	}
}

@media screen and (max-width: 650px) {
	.graphic {
		display: grid;
		padding-top: 1rem;
		grid-template-columns: 20% 1fr;
	}
	.graphic_man {
		width: 70%;
		grid-column-start: 2;
		height: 300px;
	}
}
/*  Fin de Graphic de la img */