/* Inicio de skills*/
.skills_img {
	max-width: 100%;
	height: auto;
}
	
.skills_contenedor {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}

.skills_cont {
	display: inline-block;
	width: 100px;
	text-align: center;
	margin: 30px;
}

@media screen and (max-width: 768px) {
	.skills_contenedor {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 576px) {
	.skills_contenedor {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	}
	
	.skills_cont {
		margin: 15px;
	}
}
	
.presentacion {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.title {
	font-size: 2.5rem;
	margin-top: 60px;
	border-bottom: 5px solid #e9183b;
}
	
@media screen and (max-width: 768px) {
	.presentacion {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 576px) {
	.presentacion {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}
	/* Fin de skills*/
