<section class="hero img_fondo color_separacion"> <!-- Pasion -->
	<div class="div-hero">
		<h2 class="title">Mi pasión ... Ciberseguridad</h2>

		<p class="sub_title ">La ciberseguridad abarca todos los dispositivos electrónicos, por lo que es un tema relevante en todos los ámbitos.</p>

		<p class="parrafo interlineado"> Para seguir desarrollándome en este campo, estoy estudiando diferentes cursos relacionados con la seguridad informática, testing, hacking, programación, redes y otros temas. Estoy comprometido en aprender todo lo que pueda para poder aplicar mis habilidades en la protección de sistemas y redes.</p><br>
	</div>
</section>